<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">The 757 was produced in two fuselage lengths. The original 757-200 entered service in 1983; the 757-200PF, a package freighter (PF) variant, and the 757-200M, a passenger-freighter combi model, debuted in the late 1980s. The stretched 757-300, the longest narrow-body twinjet ever produced,[2] began service in 1999. Passenger 757-200s have been modified to special freighter (SF) specification for cargo use, while military derivatives include the C-32 transport, VIP carriers, and other multi-purpose aircraft. Private and government operators have also customized the 757 for research and transport roles. All 757s are powered by Rolls-Royce RB211 or Pratt & Whitney PW2000 series turbofans.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Dave Larsen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>