<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
     <%=image_tag "pexels-photo-371572", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>Currently a student, learning to be a full stack developer.
    Although web development is new to me, I do have over a decade of experience in the U.S. Air Force.</p>

    <p></p>
  </div>
</div>

