 <div class="innercover">
 	<h1 class="cover-heading">Cover me please!.</h1>
 	<p class="lead">Put whatever you feel like putting here.
 	<p class="lead">
 	 <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
 	</p>
 </div>

 	


 

         

        
